@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: clash-semibold;
    src: url(./assets/fonts/ClashDisplaySemibold.otf);
  }
  @font-face {
    font-family: geist-light;
    src: url(./assets/fonts/Geist-Light.otf);
  }
  @font-face {
    font-family: geist;
    src: url(./assets/fonts/Geist-Regular.otf);
  }
  @font-face {
    font-family: geist-semibold;
    src: url(./assets/fonts/Geist-SemiBold.otf);
  }

  body {
    @apply font-geist overflow-x-hidden text-base;
  }

  @layer utilities {
    .maxW {
      @apply max-w-screen-xl mx-auto w-full;
    }
    .padX {
      @apply px-12 max-xl:px-8 max-md:px-4;
    }
  }
}
